/* Custom styling for the navbar */
/* Navbar container */
.navbar {
  background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px); /* Blur background */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* Container for content */
.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* Logo styling */
.navbar .logo img {
  height: auto;
  width: 20%;
  cursor: pointer;
}

/* Navigation links */
.navbar .nav-links {
  display: flex;
  gap: 15px;
}

.navbar .nav-link {
  color: #d1d5db; /* Light gray */
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.navbar .nav-link:hover {
  color: #155cf7; /* White text */
}